.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#territory-T0 {
  top: 100px;
  left: 50px;
}
#territory-T1 {
  top: 50px;
  left: 300px;
}
#territory-T2 {
  top: 0px;
  left: 420px;
}
#territory-T3 {
  top: 50px;
  left: 450px;
}
#territory-T4 {
  top: 250px;
  left: 50px;
}
#territory-T5 {
  top: 200px;
  left: 200px;
}
#territory-T6 {
  top: 50px;
  left: 450px;
}
#territory-T7 {
  top: 250px;
  left: 300px;
}
#territory-T8 {
  top: 100px;
  left: 500px;
}
.territory{
  position: relative;
  width: 10%;
}

