.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#territory-T0 {
  top: 10%;
  left: 10%;
}
#territory-T1 {
  top: 40%;
  left: 40%;
}
#territory-T2 {
  top: 60%;
  left: 40%;
}
#territory-T3 {
  top: 50%;
  left: -30%;
}
#territory-T4 {
  top: 50%;
  left: -20%;
}
#territory-T5 {
  top: 10%;
  left: -15%;
}
#territory-T6 {
  top: 20%;
  left: 0%;
}
#territory-T7 {
  top: 10%;
  left: -10%;
}
#territory-T8 {
  top: 70%;
  left: -40%;
}


